src/main/java/com/zj/study/orm/factory.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT beans (bean*) >
<!ELEMENT bean (property*) >
<!ATTLIST bean
	id ID #REQUIRED
	clazz CDATA #REQUIRED
	scope (singlton|prototype|session|request) "singlton"
>
<!ELEMENT property (#PCDATA) >
<!ATTLIST property
	name CDATA #REQUIRED
	value CDATA #REQUIRED
	type (string|int|long|double|float) #IMPLIED
>
